@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

body {
  background-color: #050507;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 17px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

/* UTITILTY */
.green {
  color: #079211;
}

.btn_no_bg {
  border: 1px solid #079211;
  padding: 13px 20px;
  background-color: transparent;
  color: white;
  transition: 0.2s all ease-in-out;
}

.btn_download {
  color: #808080;
  padding: 13px 20px;
  background-color: transparent;
}

.btn_bg {
  border: none;
  outline: none;
  padding: 13px 20px;
  background-color: #079211;
  color: white;
  transition: 0.2s all ease-in-out;
}

.btn_no_bg:hover {
  background-color: #079211;
}

.dflex_btw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.dflex_str {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.container_pd {
  padding: 0 6rem;
}

/* UTITILTY */

nav {
  padding: 30px 6rem;
}

nav .logo {
  font-size: 28px;
  font-weight: bold;
}

.Hero_section {
  margin-top: 8rem;
  height: max-content;
  padding: 0 6rem;
}

.Hero_section h2 {
  font-size: 38px;
  line-height: 0;
}

.Hero_section h1 {
  font-size: 88px;
  line-height: 0;
}

.Hero_section p {
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: #808080;
  width: 45%;
  line-height: 1.7;
}

.Services_section {
  height: 80vh;
  margin-top: 8rem;
}

.Services_section p {
  color: #808080;
}

.Services_heading {
  font-size: 46px;
  font-weight: bold;
}

.Services_line {
  width: 152px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.Services_line .line {
  height: 3px;
  width: 50px;
  background-color: #079211;
}

.col {
  flex-direction: column;
  align-items: start;
  gap: 0;
  width: 360px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 999px;
  background-color: #079211;
}

.Services_boxes {
  margin-top: 6.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.services_box {
  background-color: #313131;
  border-bottom: 3px solid #079211;
  padding: 45px;
  z-index: 1;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.services_box:hover {
  box-shadow: 0px 0px 10px 0px #cccccc71;
}

.services_box .icons {
  position: relative;
  width: max-content;
}

.box_icon {
  z-index: 10;
}

.services_box .circle {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 0;
}


.Blog_page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center center;
  gap: 1rem;
}

.Blog_news_card {
  background-color: rgba(128, 128, 128, 0.249);
  height: 400px;
}

.Footer {
  background-color: #050507;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}
